<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>动漫项目后台首页</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/admin/index.css">
	<script type="text/javascript" src="__PUBLIC__/bootstrap/js/jquery.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/bootstrap/js/holder.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/kindeditor/kindeditor-all-min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/admin/index.js"></script>
</head>
<body>
	<div class="container">
		<div class="page-header">
			<h3>后台首页</h3>
			<a href="{:U('logout')}" class="pull-right btn btn-danger">退出登录</a>
			<input type="hidden" id="menu" value="{$_GET['menu']}">
		</div>

		<div class="content">
			<div class="col-md-2 left">
				<div class="">
					<ul class="list-group">
					  <a href="javascript:" class="list-group-item active user">用户管理</a>
					  <a href="__URL__/index/menu/user" class="list-group-item user">用户管理</a>
					  <a href="__URL__/index/menu/user" class="list-group-item user">添加用户</a>
					</ul>
					<ul class="list-group">
					  <a href="javascript:" class="list-group-item active cartoon">发布动漫</a>
					  <a href="__URL__/index/menu/cartoon" class="list-group-item cartoon">查看动漫</a>
					  <a href="__MODULE__/Cartoon/add/menu/cartoon" class="list-group-item cartoon">添加动漫</a>
					</ul>
				</div>
			</div>
			<div class="col-md-10 right">
				<block name="_right">
					<div class="jumbotron">
						<h3>欢迎来到后台页面</h3>
						<a href="{:U('index')}" class="btn btn-primary" target="_blank">首页</a>
					</div>
				</block>
			</div>
		</div>
	</div>
</body>
</html>